@import url('reset.css');
@import url('login.css');
@import url('nav.css');
@import url('planner.css');
@import url('grid.css');
body
{
	background-color: #e6e6e6;
	font-family: helvetica, arial, sans-serif;
	font-size: 62.5%;
}

a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

.clearfix
{
	clear: both;
}

/** content */

div#dates_content
{
	width: 850px;
	margin: -18px auto 0 auto;
}