/**
	login.css
*/

header#login_header
{
	height: 215px;
}


header#login_header div#logo
{
	width: 360px;
	margin: 80px auto 0 auto;	
}

div#login_form {
	width: 480px;
	margin: -30px auto 0 auto;
	background-color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

div#login_form form
{
	width: 300px;
	margin: 0 auto;
	padding-top: 50px;
}

div#login_form label
{
	display: block;
	margin-bottom: 15px;
	font-size: 1.6em;
}

div#login_form input[type="text"], div#login_form input[type="password"]
{
	border-radius: 8px;
	border: 1px solid #BBB;
	height: 10px;
	width: 276px;
	padding: 12px;
	margin-bottom: 15px;
	font-size: 1.3em;
}

div#login_form input[type="submit"]
{
	height: 40px;
	width: 80px;
	margin: 15px 0;
	float: right;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.3em;
	background: #333 repeat-x 0 50%;
}

div#login_form input[type="submit"]:hover
{
	cursor: pointer;
}


div#login_form input[type="text"]:focus, div#login_form input[type="password"]:focus, div#login_form input[type="submit"]:focus
{
	border: 1px solid #777;
	outline: none;
}

div#login_form p.error
{
	margin-top: 17px;
	font-size: 1.3em;
	line-height: 1.3em;
	display: none;
}

img.loader
{
	display: none;
	float: right;
	margin: 25px 20px 0 0;
}