div#overview_days
{
	background-color: #f8f8f8;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	box-shadow: 1px 1px 3px #444;
		-moz-box-shadow: 1px 1px 3px #444;
		-webkit-box-shadow: 1px 1px 3px #444;
	height: 60px;
}

.selected
{
	border: 1px solid #999!important;
	color: #000!important;
	font-weight: bold;
}

div#overview_days p.month
{
	float: left;
	font-weight: bold;
	font-size: 1.2em;
	padding: 8px 0 0 20px;
}

#days_loader
{
	display: none;
	height: 9px; 
	padding: 9px 0 0 9px;
}

div#overview_days ul
{
	display: none;
	margin: 0 auto;
	padding-top: 8px;
}

div#overview_days ul.thirtyone
{
	width: 812px;
}

div#overview_days ul.thirty
{
	width: 788px;
}

div#overview_days ul.twentynine
{
	width: 764px;
}

div#overview_days ul.twentyeight
{
	width: 740px;
}

div#overview_days ul li
{
	border: 1px solid #ccc;
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	cursor: pointer;
	display: block;
	font-size: 1.1em;
	float: left;
	height: 16px;
	margin-left: 4px;
	padding: 5px 0 0 0;
	text-align: center;
	width: 20px;	
}

div#overview_days ul li.has_event
{
	background-image: url('../images/has_events.png');
	background-position: 85%;
	background-repeat: no-repeat;
}

div#overview_days ul li.today
{
	background-color: #ff0;	
	font-weight: bold;
}

div#overview_days ul li.weekend
{
	background-color: #eee;
}

div#overview_days ul li.future:hover
{
	border: 1px solid #aaa;
}

div#overview_days ul li.past
{
	border: 1px solid #eee;
	color: #ccc;
}

div#overview_days ul li.past:hover
{
	border: 1px solid #ccc;
	color: #333;
}

div#overview_days .month_selector
{
	background-color: #ff0;	
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	height: 20px;
	width: 20px;
}

div#overview_days .previous
{
	cursor: pointer;
	float: left;
	margin-left: -10px;
	margin-top: 8px;
}

div#overview_days .next
{
	cursor: pointer;
	float: right;
	margin-right: -10px;
}

div#overview_days .previous img, div#overview_days .next img
{
	padding: 7px;
}

div#detail_content
{
	background-color: #f8f8f8;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	height: 500px;
	margin: 15px auto 0 auto;
	width: 850px;
}

p.detail_header
{
	float: center;
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 0;
}

p.detail_header img
{
	cursor: pointer;
	float: right;
}

div.event
{
	background-color: #eee;
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	clear: both;
	margin: 12px 0;
	padding: 10px;
	text-align: left;	
}

div.event:hover
{
	background-color: #ddd;
}

div.event p.event_title
{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 5px;
}

div.event_type
{
	background-color: #f8f8f8;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	height: 40px;
	margin: 12px auto 0 auto;
	width: 850px;
}

div#create_event
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	box-shadow: 1px 1px 3px #444;
		-moz-box-shadow: 1px 1px 3px #444;
		-webkit-box-shadow: 1px 1px 3px #444;
	display: none;		
	float: left;
	margin-top: 30px;
	margin-left: 175px;
	position: absolute;
	width: 500px;
}

div#create_event img
{
	float: left;
	margin: 10px 0 5px 15px;
}

div#create_event form
{
	margin: 15px auto 0 auto;
	width: 450px;
}

div#create_event label
{
	display: block;
	float: left;
	font-size: 1.3em;
	width: 150px;
}

div#create_event input[type="text"]
{
	border: 1px solid #BBB;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	font-size: 1.3em;
	height: 10px;
	margin-bottom: 15px;
	padding: 12px 15px;
	width: 244px;
}

div#create_event textarea
{
	border: 1px solid #BBB;
	border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	height: 100px;
	margin-bottom: 15px;
	padding: 12px;
	resize: none;
	width: 250px;
}

div#create_event input[type="text"]:focus, div#create_event textarea:focus
{
	border: 1px solid #777;
	outline: none;
}

div#create_event p.times, div#create_event p.buttons
{
	float: right;
	font-size: 1.3em;
	margin: 5px 25px 25px 0;
}

div#create_event p.buttons input, div#create_event p.buttons button
{
	background-color: #333;
	border: none;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	color: #fff;
	height: 40px;
	margin-left: 20px;
	width: 80px;
}

div#create_event p.buttons #btnCancel:hover, div#create_event p.buttons input:hover
{
	cursor: pointer;
}

div#create_event select
{
	background-color: #fff;
	border: 1px solid #888;
}

div#create_event div.feedback
{
	display: none;
	margin: 0 0 0 180px;

}

div#create_event select#drop_event_type
{
	margin-bottom: 15px;
}

div#create_event  p.warning
{
	display: none;
	float: left;
	font-size: 1.4em;
	padding-left: 25px;
}

div#create_event div.feedback p.error
{
	font-size: 1.4em;
	line-height: 1.2em;
}
